<!-- Post TOC button. -->
<% if ((page.toc === true) || (is_post() && page.toc !== false)) { %>
    <%- partial('_partial/toc_button') %>
<% } %>

<!-- Page layouts. Three special types: tags, links and timeline. -->
<% if (page.layout === 'tags') { %>
    <!-- Tags cloud. -->
    <%- partial('_widget/page-tagcloud') %>

<% } else if (page.layout === 'links') { %>
    <!-- Single links page. -->
    <%- partial('_widget/page-links') %>

<% } else if (page.layout === 'timeline') { %>
    <!-- Single timeline page. -->
    <%- partial('_widget/page-timeline') %>

<% } else { %>
    <!-- Post module. -->
    <div class="material-post_container">
        <div class="material-post mdl-grid">
            <!-- Main content. -->
            <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
                <!-- Post header (Thumbnail & Title). -->
                <%- partial('_partial/post-header') %>

                <% if(page.hide_post_info !== true && theme.scheme === 'Paradox') { %>
                    <!-- Paradox post info. -->
                    <%- partial('_partial/Paradox-post-info') %>
                <% } %>

                <!-- Post content. -->
                <%- partial('_partial/post-content') %>

                <% if(page.hide_post_info !== true && theme.scheme === 'Isolation') { %>
                    <!-- Paradox post info. -->
                    <%- partial('_partial/Isolation-post-info') %>
                <% } %>

                <!-- Post comments. -->
                <% if(page.comment !== false) { %>
                    <%- partial('_partial/comment') %>
                <% } %>
            </div>

            <!-- Post prev & next nav. -->
            <%- partial('_partial/post-nav') %>
        </div>
    </div>
<% } %>
